<div class="mb-3">
    <label for="panner-coneinnerangle" class="form-label">coneInnerAngle</label>
    <input type="number" name="coneinnerangle" id="panner-coneinnerangle" class="form-control form-control-sm"
        [(ngModel)]="modelAs.node.coneInnerAngle">
</div>
<div class="mb-3">
    <label for="panner-coneouterangle" class="form-label">coneOuterAngle</label>
    <input type="number" name="coneouterangle" id="panner-coneouterangle" class="form-control form-control-sm"
        [(ngModel)]="modelAs.node.coneOuterAngle">
</div>
<div class="mb-3">
    <label for="panner-coneoutergain" class="form-label">coneOuterGain</label>
    <input type="number" name="coneoutergain" id="panner-coneoutergain" class="form-control form-control-sm" min="0"
        max="1" step="0.1" [(ngModel)]="modelAs.node.coneOuterGain">
</div>
<div class="mb-3">
    <label for="panner-distancemodel" class="form-label">distanceModel</label>
    <input type="text" name="distancemodel" id="panner-distancemodel" class="form-control form-control-sm"
        [(ngModel)]="modelAs.node.distanceModel" list="panner-distancemodel-list">
    <datalist id="panner-distancemodel-list">
        <option>exponential</option>
        <option>inverse</option>
        <option>linear</option>
    </datalist>
</div>
<div class="mb-3">
    <label for="panner-maxdistance" class="form-label">maxDistance</label>
    <input type="number" name="maxdistance" id="panner-maxdistance" class="form-control form-control-sm" min="1"
        [(ngModel)]="modelAs.node.maxDistance">
</div>
<div class="mb-3">
    <label for="panner-orientationx" class="form-label">orientationX</label>
    <input type="number" name="orientationx" id="panner-orientationx" class="form-control form-control-sm"
        [(ngModel)]="modelAs.node.orientationX.value">
</div>
<div class="mb-3">
    <label for="panner-orientationy" class="form-label">orientationY</label>
    <input type="number" name="orientationy" id="panner-orientationy" class="form-control form-control-sm"
        [(ngModel)]="modelAs.node.orientationY.value">
</div>
<div class="mb-3">
    <label for="panner-orientationz" class="form-label">orientationZ</label>
    <input type="number" name="orientationz" id="panner-orientationz" class="form-control form-control-sm"
        [(ngModel)]="modelAs.node.orientationZ.value">
</div>
<div class="mb-3">
    <label for="panner-panningmodel" class="form-label">panningModel</label>
    <input type="text" name="panningmodel" id="panner-panningmodel" class="form-control form-control-sm"
        [(ngModel)]="modelAs.node.panningModel" list="panner-panningmodel-list">
    <datalist id="panner-panningmodel-list">
        <option>equalpower</option>
        <option>HRTF</option>
    </datalist>
</div>
<div class="mb-3">
    <label for="panner-positionx" class="form-label">positionX</label>
    <input type="number" name="positionx" id="panner-positionx" class="form-control form-control-sm"
        [(ngModel)]="modelAs.node.positionX.value">
</div>
<div class="mb-3">
    <label for="panner-positiony" class="form-label">positionY</label>
    <input type="number" name="positiony" id="panner-positiony" class="form-control form-control-sm"
        [(ngModel)]="modelAs.node.positionY.value">
</div>
<div class="mb-3">
    <label for="panner-positionz" class="form-label">positionZ</label>
    <input type="number" name="positionz" id="panner-positionz" class="form-control form-control-sm"
        [(ngModel)]="modelAs.node.positionZ.value">
</div>
<div class="mb-3">
    <label for="panner-refdistance" class="form-label">refDistance</label>
    <input type="number" name="refdistance" id="panner-refdistance" class="form-control form-control-sm" min="0"
        [(ngModel)]="modelAs.node.refDistance">
</div>
<div class="mb-3">
    <label for="panner-rollofffactor" class="form-label">rolloffFactor</label>
    <input type="number" name="rollofffactor" id="panner-rollofffactor" class="form-control form-control-sm" min="0"
        [(ngModel)]="modelAs.node.rolloffFactor">
</div>