<div class="btn-group">
    <div class="btn btn-outline-success dropdown">
        <div class="dropdown-toggle" data-bs-toggle="dropdown">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add
        </div>
        <div class="dropdown-menu">
            <button id="create-analyser" class="dropdown-item" (click)="service.createAnalyser()">Analyser</button>
            <button id="create-audiocontext" class="dropdown-item"
                (click)="service.createAudioContext()">AudioContext</button>
            <button id="create-biquadfilter" class="dropdown-item"
                (click)="service.createBiquadFilter()">BiquadFilter</button>
            <button id="create-buffersource" class="dropdown-item"
                (click)="service.createBufferSource()">BufferSource</button>
            <button id="create-channelmerger" class="dropdown-item"
                (click)="service.createChannelMerger()">ChannelMerger</button>
            <button id="create-channelsplitter" class="dropdown-item"
                (click)="service.createChannelSplitter()">ChannelSplitter</button>
            <button id="create-constantsource" class="dropdown-item"
                (click)="service.createConstantSource()">ConstantSource</button>
            <button id="create-convolver" class="dropdown-item" (click)="service.createConvolver()">Convolver</button>
            <button id="create-delay" class="dropdown-item" (click)="service.createDelay()">Delay</button>
            <button id="create-dynamicscompressor" class="dropdown-item"
                (click)="service.createDynamicsCompressor()">DynamicsCompressor</button>
            <button id="create-gain" class="dropdown-item" (click)="service.createGain()">Gain</button>
            <button id="create-iirfilter" class="dropdown-item" (click)="service.createIIRFilter()">IIRFilter</button>
            <button id="create-oscillator" class="dropdown-item"
                (click)="service.createOscillator()">Oscillator</button>
            <button id="create-panner" class="dropdown-item" (click)="service.createPanner()">Panner</button>
            <button id="create-stereopanner" class="dropdown-item"
                (click)="service.createStereoPanner()">StereoPanner</button>
        </div>
    </div>
    <button id="connect-node" [class]="'btn ' + (service.selectMode === 1 ? 'btn-warning' : 'btn-outline-warning')"
        (click)="toggleConnect()">
        <i class="fa fa-chain" aria-hidden="true"></i>
        Connect!
    </button>
    <button id="disconnect-node" [class]="'btn ' + (service.selectMode === 2 ? 'btn-warning' : 'btn-outline-warning')"
        (click)="toggleDisconnect()">
        <i class="fa fa-chain-broken" aria-hidden="true"></i>
        Disconnect!
    </button>
</div>